# Ignore Python virtual environment
.venv/
venv/
env/

# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE settings
.idea/
.vscode/
*.swp
*.swo

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
*.log
